<div class="row">
  <div class="col-12 py-2">
    <button class="btn btn-primary">Crear</button>
  </div>
</div>

<div class="row">
  <div *ngIf="(isLoading$|async)" class="col-12 py-2">
    Loading......
  </div>
  <div *ngIf="!(isLoading$|async) && (users$|async)?.length > 0" class="col-12 mat-elevation-z8">
    <table mat-table [dataSource]="users$|async" class="full-width-table" aria-label="Elements">
      <!-- Id Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>Id</th>
        <td mat-cell *matCellDef="let row">{{row.id}}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let row">{{row.firstName}}</td>
      </ng-container>

      <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef>Last Name</th>
        <td mat-cell *matCellDef="let row">{{row.lastName}}</td>
      </ng-container>

      <ng-container matColumnDef="isActive">
        <th mat-header-cell *matHeaderCellDef>Active?</th>
        <td mat-cell *matCellDef="let row">{{row.isActive}}</td>
      </ng-container>

      <ng-container matColumnDef="options">
        <th mat-header-cell *matHeaderCellDef>Active?</th>
        <td mat-cell *matCellDef="let row">
          <button class="btn btn-info" (click)="edit(row.id)">Editar</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>
